html, body {
    margin: 0;
    padding: 0;
}

.nav-items {
    list-style: none;
}

.flexbox-container {
    display: flex;
    justify-content: flex-end;
}

.flexbox-items{
    margin-left: 30px;
    margin: 15px;
}

flexbox-items-1 {
    justify-content: flex-start 
}